*, *::before, *::after
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none

body
  font-family: 'Monsterrat Alternates', sans-serif

ul
  list-style-type: none
  text-align: center

// fonts
@import ./fonts

// components
@import ../../components/btn/btn
@import ../../components/auth/auth
@import ../../components/navigation/navigation
@import ../../components/page404/page404
@import ../../components/userForm/userForm
@import ../../components/reg/reg